name: {{cookiecutter.name}}
channels:
  - conda-forge
dependencies:
  - jupyterlab=4.4.10
  - pip=25.2
{%- if cookiecutter.writing_tests == "yes" %}
  - pytest=8.4.2
{%- endif %}
{%- if cookiecutter.running_eda == "yes" %}
  - pandas=2.3.3
  - seaborn=0.13.2
  - tqdm=4.67.1
{%- endif %}
  - python={{cookiecutter.python}}
  - pip:
{%- if cookiecutter.writing_docs == "yes" %}
      - mkdocs-glightbox==0.5.2
      - mkdocs-material==9.6.23
      - mkdocs-minify-plugin==0.8.0
      - mkdocs==1.6.1
      - neoteroi-mkdocs==1.1.3
{%- endif %}
      - pip-check-updates==0.27.0
